<% @communities.each do |community| %>
    <div class="w-full rounded-md flex flex-row items-center justify-between my-2 px-2">
        <div class=" flex flex-row items-center justify-between gap-3">
            <p class="text-md font-medium text-black"><%= community.name %> </p>
        </div>
        <div class="rounded-md px-5 py-1 w-fit h-fit bg-[#cfe5fb] text-black">
            <!-- checking if a community private, if the community is private then add Request button or add Join button -->
            <% if community.isPrivate %>
                <%= link_to 'Request', request_to_join_community_path(community),data: { controller: "dialog", action: "dialog#close" }, method: :get %>
            <% else %>
                <%= link_to 'Join', join_community_path(community),data: { controller: "dialog", action: "dialog#close" }, method: :get %>
            <% end %>
        </div>
    </div>
<% end %>