<div data-controller="previews">

    

    <%= form.file_field :post_image,
            class: "hidden", 
            id: "post_image", 
            accept: "image/*", 
            direct_upload: true, 
            data: { previews_target: "input", action: "change->previews#preview" } %>
        
        <!--
        <div class="w-fit h-fit flex items-center justify-center">
            <% if message.post_image.attached? %>
                <%= image_tag message.post_image, data: { previews_target: "preview" }, class: "w-40 h-20" %>
            <% else %>
                <%= image_tag "", data: { previews_target: "preview" }, class: "w-40 h-20" %>
            <% end %>
        </div>

</div>