<div class="interests-main-div flex items-center justify-center w-screen h-screen max-h-screen bg-blue-500">

    <div class="w-fit h-fit interests-container flex flex-col items-center justify-center gap-5 p-5 bg-white rounded-md">
        <div class="flex items-center justify-center flex-col gap-1">
            <p class="text-center text-2xl font-semibold font-mono text-gray-500">Choose your interests</p>
            <p class="text-sm font-light text-gray-500 font-mono">(Select atleast three interests to proceed)</p>
        </div>
        <div class="interests-div flex-wrap flex flex-row items-center justify-center gap-2 max-h-[33.5em] overflow-y-auto hide-scrollbar">
            <% @interests.each do |interest|%>
                <%= render 'users/interests',interest: interest, user: @user %>
            <% end %>
        </div>
        <div class="flex flex-row items-center justify-center gap-2">
            <%= render partial: 'users/next', locals: { count: current_user.interests.count } %>
        </div>

    </div>
</div>