
<div class="fle flex-col">
    <p><b>All Interests</b></p>
    <div class="w-screen max-w-screen flex-wrap flex flex-row items-center gap-2">
        <% @interests.each do |interest|%>
            <%= render 'users/interests',interest: interest, user: @user %>
        <% end %>
    </div>

</p>