<div class="flex items-center justify-start flex-row gap-2 py-2 rounded-md notification-single">
    <p class="text-sm font-medium px-4 pt-2 "><%= user.name %> joined your community</p>
    <!-- if the notification is unread -->
    <% if unread %>
        <p class="px-1 unread-p rounded-full text-sm ">Unread</p>
    <% end %>
</div>