<div class="w-full h-fit text-black flex items-center justify-between flex-row gap-2 px-4 py-2 notification-single rounded-md">
  <!-- username -->
  <p class="text-sm font-normal"><%= user.username %> commented on your post </P>
  <!-- if the notification is unread -->
  <% if unread %>
    <p class="px-1 unread-p rounded-full text-sm ">Unread</p>
  <% end %>

</div>