/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "will_paginate";

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #4a5568 #2d3748;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f4f6fa;
}

.e-learning-chatroom {
  display: none;
}

.regular-chatroom {
  display: block;
}

 .tag {
    background:#0045c6;
    color:#FFF;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
    border-radius: 0.25em;
    display: inline-block;
 }

.collapse-content {
  display: none;
}
.expanded {
  display: block;
}

.video-search-results:hover{
  background-color: rgb(131, 131, 192);
  border-radius: 8px;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 30;
}
.video-footer{
  position: sticky;
  bottom: 2;
  z-index: 30;
}

.video-post{
  margin-bottom: 20px;
}

.notifications-div{
  position: absolute;
  top: 0;
  right: 0;
}

.notification-single:hover{
  background-color: rgb(131, 164, 224);
  cursor: default;
}

.count-number{
  background-color: #fff;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
}
.notifications-count{
  position: relative;
  
}
.unread-p{
  background-color: #0000ff;
  color: #FFF;
}