<!-- rendering a search community create modal -->
            
<%= render 'layouts/turbo_dialog' do %>
    <div action="turbo:submit-end->turbo-modal#submitEnd" class="fixed z-1 p-6 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 overflow-auto bg-gray-500 w-fit h-fit rounded-2xl shadow-xl ">
        
        <%= render "layouts/join_community_form", searched_communities: @searched_communities %>
    </div>  
<% end %>

