<div class="w-96 max-w-[33.5em] flex flex-col justify-start gap-4 p-2">
    <div class="flex flex-row items-center justify-between">
        <p class="flex-1 w-full text-center text-black text-xl font-semibold">Join Community</p>
        <button data-action="dialog#close" class=" cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
        </button>
    </div>

    <div class="">
        <%= form_with(url: searches_index_path(turbo_frame: "search_results"),
                method: "get",
                data: { "turbo-frame": "search_results_for_communities",
                        controller: "search",
                        "search-target": "form" }) do |form| %>
            <%= form.search_field :query,
                placeholder: "Search communities here ",
                autocomplete: "off",
                data: { action: "input->search#search" }, 
                class:"w-full rounded-md border-none bg-gray-300 text-black" %>
        <% end %>
    </div>
         
    <turbo-frame id="search_results_for_communities" target="_top"></turbo-frame>
    
</div>

