<%= turbo_frame_tag :modal do %>
  <dialog data-controller="dialog" data-action="click->dialog#clickOutside"
          class="backdrop:opacity-0">
    <div >

      <%= yield %>

    </div>
  </dialog>
<% end %>