<div id="video-call-tab" class="flex flex-col items-center justify-between gap-2">
    <!-- If video call is present then show the call started by and if the current user started the call then show the End Call button else show Leave Call button -->
    <div class="flex flex-row items-center justify-between">
        <p class="text-lg font-medium">Started By <span class="text-lg font-semibold"> <%= User.find(video_call.user_id).name %> </span> </p>
        <% if video_call.user_id == current_user.id %>
            <div id="video-call-tab">
                <%= link_to 'End Call', end_video_call_path(video_call_id: video_call.id), class:"px-4 py-2 rounded-md end-video-call"%>
            </div>
        <% end %>
    </div>

    <div class="flex flex-row items-center flex-wrap justify-between gap-2 ">
        <!-- Video Box -->
        <iframe
            src="<%= video_call.iframe_link %>"
            allow="microphone; camera"
            scrolling="no"
            class="video-call-box rounded-lg"
        ></iframe>
    </div>
</div>